{% extends 'base.html' %}
<title>{% block title %}My Post{% endblock %}</title>

{% block content %}
<h3>My Post</h3>
<ul>
        {% if post_list%}
          {% for post in post_list %}
              {% if post.is_published %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              {% else %}
                   <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> - This post is visible only to you, it will become public after the approval of the administration.
              {% endif %}


              {% endfor %}
        {% else %}
    You dont have any posts yet. Do you wont <a type="button" class="btn btn-dark" href="{% url 'post_create' %}">create</a> ?
        {% endif %}
    </li>

</ul>

{% endblock %}
